<header >
    <nav class="grid grid-cols-5 w-full h-[50px] bg-gray-800 text-white">
        <div class="col-span-1">
        Barpedia
        </div>
        <div class="col-span-3 flex items-center ">
            <Span class="ml-[50px]">
                Documentacion
            </Span>
            <Span class="ml-[50px]">
                Por bebida
            </Span>
            <Span class="ml-[50px]">
                Por Dificultad
            </Span>
            <Span class="ml-[50px]">
                Por Precio
            </Span>
        </div>
    </nav>
    <div class="w-full md:h-[800px] h-[400px] bg-gray-800 grid md:grid-cols-4 grid-cols-1 ">
        <div class="flex flex-col md:ml-[100px] md:items-start justify-center items-center col-span-1  z-50 text-white">
            <h1 class="md:text-[200px] text-[100px]">Barpedia</h1>
            <br>
            <h2>Tu guia completa de bebidas</h2>
        </div>
        <div class="col-span-3">
            <img src="./assets/coctel-header.jpg" alt="header" class="w-full md:h-[800px] h-[400px]">
        </div>

    </div>
</header>