
<section class="w-full h-auto bg-gray-800 flex items-center justify-center">
    <div class="grid md:grid-cols-5 grid-cols-1 w-11/12">
        <div class="md:col-span-3">
            <img src="./assets/bebida-recomendaciones.jpg" alt="">
        </div>
        <div class="  md:col-span-2 flex flex-col justify-center items-center p-20  text-white bg-black " >
            <h1 class="text-[40px] pb-[50px]">Recomendaciones</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quas ullam fugit architecto. 
                Neque architecto saepe perferendis reiciendis animi tempora corporis praesentium ad optio, 
                repellendus odit excepturi quia velit eveniet.
            </p>
        </div>
    </div>
</section>